@font-face {
  font-family: "chillax";
  src: url("./font/Chillax-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "chillax";
}

html {
  background: #1e1a20;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 3vmin;
  padding-left: 10%;
  padding-right: 10%;
}

section:nth-child(even) {
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.audio {
  position: fixed;
  top: 2%;
  left: 2%;
  cursor: pointer;
  z-index: 100;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
